<div class="user_cloud">
	<h3><%= link_to "@#{@user.username}", user_path(@user.username) %></h3>
	<div class="btn-group btn-group-md follow_links">
		<%= link_to "Following: #{@following.count}", following_path(@user.username), class: "following btn btn-link" %>
		<%= link_to "Followers: #{@followers.count}", followers_path(@user.username), class: "followers btn btn-link" %>
	</div>

	<div class="btn-group btn-group-md">
		<%= link_to user_path(@user.username), class: "my_rack btn" do %>Rack <span class="glyphicon glyphicon-heart"></span><% end %>
		<%= link_to feed_path(@user.username), class: "my_feed btn" do %>Feed <span class="glyphicon glyphicon-user"></span><% end %>
		<%= link_to popular_path, class: "popular btn" do %>Popular <span class="glyphicon glyphicon-fire"></span><% end %>
	</div>
</div>